.health-component {
  border: 1px dashed #f00;
  margin-top: 20px;
}

body {
  font-family: "Roboto";
}

.box {
  height: 300px;
  width: 200px;
  text-align: center;
  float: left;
}

.box-title {
  font-size: xx-large;
  text-transform: uppercase;
}

.box-state {
  font-size: large;
  margin: 10px;
}

.box-text-old {
  font-size: smaller;
  color: #e74c3c;
}

.box-text{
  font-size: smaller;
  color: gray;
}

.health-title {
  font-size: large;
  margin: 15px 15px 10px 15px;
  color: gray;
}

.status-led {
  border-radius: 50%;
  width: 40%;
  height: 80px;
  margin: 0 auto;
}

.status-led.green {
    background: #2ecc71;
}

.status-led.red {
    background: #e74c3c;
}

.status-led.orange {
    background: #f39c12;
}

.status-led.blue {
    background: #3498db;
}

.status-led.purple {
    background: #9b59b6;
}
