
[Unit]
DefaultDependencies=false
Description=ListenIn Looper service
After=local-fs-pre.target
Before=local-fs.target

[Service]
Environment=AUDIODEV=plughw:1,0
Environment=AUDIODRIVER=alsa
ExecStart=/home/pi/listenin/box/.pyenv/bin/python /home/pi/listenin/box/loop.py --boxid BOXID
Restart=always

[Install]
WantedBy=local-fs.target
