[Unit]
Description=Sensu Client

[Service]
User=sensu
ExecStart=/opt/sensu/embedded/bin/ruby /opt/sensu/bin/sensu-client -c /etc/sensu/config.json -d /etc/sensu/conf.d -e /etc/sensu/extensions -L info
Restart=always

[Install]
WantedBy=multi-user.target
